* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica", "나눔고딕";
  font-size: 15px;
  color: #444444;
  background-color: black;
}
ul {
  list-style-type: none;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}
.clear {
  clear: both;
}
